accelerate==1.10.0
av==15.0.0
colorlog==6.9.0
decord==0.6.0
diffusers==0.35.1
einops==0.8.1
huggingface-hub==0.34.4
lightning-utilities==0.15.2
lpips==0.1.4
matplotlib==3.10.5
numpy==2.2.6
omegaconf==2.3.0
opencv-python==4.12.0.88
pandas==2.3.1
pillow==11.3.0
protobuf==6.32.0
pytorch-lightning==2.5.3
requests==2.32.5
safetensors==0.6.2
scipy==1.15.3
sentencepiece==0.2.1
six==1.17.0
streamlit==1.48.1
timm==1.0.19
tokenizers==0.21.4
torch==2.6.0
torchaudio==2.6.0
torchmetrics==1.8.1
torchvision==0.21.0
tqdm==4.67.1
transformers==4.48.0
triton==3.2.0
xformers==0.0.29.post3
